.UnsupportedBrowser {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  -ms-flex-direction: column;
  padding: 40px 60px 20px 60px;
  margin: auto;
  max-width: 310px;
  color: #000000;
  border-radius: 5px;
  text-align: center;
}

.UnsupportedBrowser__logo {
  width: 120px;
  height: auto;
  margin: auto;
}
